.my-app {
    margin: 50px auto;
    height: 80vh;
    padding: 40px;
    width: 700px;
    background-color: #f7c0f6;
    box-shadow: #fbc8f5;
    font-size: 20px;
}

a {
    color: #ed0909;
}

.mycity {
    color: #4008f8;
    display: flex;
    justify-content: center;

}


.city-input {
    margin: 10px;
    padding: 15px;
    background-color: #ffe4c4;
    border-radius: 8px;
    width: 75%;
}

.search-input {
    background-color: hsl(300, 98%, 50%);
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
}

.current-temp {
    display: flex;
    float: right;

}

#temp {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
}

#units {
    margin-top: 6px;
    font-size: 28;
}

#icon {
    margin-bottom: 20px;
}

.weather-forecast {
    text-align: center;
    font-size: 76px;
    line-height: 20px;
    margin-bottom: 10px;

}

.my-forecast {
    margin-top: 20px;
    text-align: center;
}

.future-forecast {
    opacity: 0.6;
}

.forecast-date {
    font-size: 15px;
    color: #4008f8;
    opacity: 0.5;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;

}

.current-humidity {
    font-weight: bold;
    color: #ee0758;
}

.current-speed {
    font-weight: bold;
    color: #ee0758;
}

.weather-icon {
    text-align: center;
}

.forecast-temp {
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.current-forecast {
    padding: 0 10px;
}

.future-forecast {
    padding: 0 10px;
}

.footer {
    text-align: center;
    font-size: 25px;
}